[Unit]
Description=PiCam Recorder
After=network.target

[Service]
ExecStart=/usr/bin/picam-recorder --config /etc/picam-recorder/recorder.ini
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=picam-recorder
CPUAffinity=2

[Install]
WantedBy=multi-user.target
