#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	$(MAKE)

override_dh_auto_install:
	$(MAKE) install DESTDIR=$(CURDIR)/debian/picam-recorder

override_dh_installsystemd:
	dh_installsystemd --no-restart-on-upgrade --no-stop-on-upgrade

override_dh_auto_clean:
	dh_auto_clean
	rm -f picam-recorder
